name: Generate Terraform Docs

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  terraform-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install terraform-docs
        uses: terraform-docs/gh-actions@v1.3.0
        with:
          version: latest

      - name: Generate docs
        run: terraform-docs .

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "docs(terraform): update terraform-docs"
          file_pattern: README.md
